<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    User register form
  </h1>
  <form #userForm="ngForm" (ngSubmit)="register(userForm)" class="form form-register">
    <label for="register-email">Email</label>
    <input name="email" id="register-email" type="email" placeholder="Email" ngModel required>
    <label for="register-password">Password</label>
    <input name="password" id="register-password" type="password" placeholder="Password" ngModel required>
    <input type="submit" value="Register">
  </form>
</div>>

